nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    background-color: #fff;
}

nav h1{
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
}

nav ul.show{
    display: block;
}

nav ul li{
    margin: 0 10px;
    padding: 0 9px;
}
nav ul li:not(:last-child){
    border-right: 1px solid #333;
}

nav a{
    font-size: 20px;
    text-decoration: none;
    color: #4a4a4a;
}

nav a:hover{
    color: #333;
    border-bottom: 1px dashed #333;
}

nav span i{
    display: none;
}

/* responsive */ 
@media screen and (max-width: 768px){
    nav ul{
        display: none;
        position: absolute;
        left: 0;
        top: 40px;
        height: 100%;
        z-index: 999;
        flex-direction: row;
        background-color: #fff;
        color: #000;
        text-align: left;
    }
    nav ul li{
        display: block;
        margin: 10px;
        border-right: 1px solid #333;
        padding: 10px 20px;
    }

    nav span i{
        display: block;
        font-size: 30px;
        color: #4a4a4a;
        cursor: pointer;
        font-weight: bolder;
    }
}